@charset "UTF-8";



* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}


header h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header p {
    padding: 20px;
    font-size: 1.2em;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    color: rgb(19, 54, 255);
    text-decoration: underline;
}



section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}



section.normal {
    background-color: white;
    color: black;
    
    padding: 20px;
}


section.imagen {
    background-color: rgba(0, 0, 0, 0.623);
    color: white;
    padding: 20px;
    
}

section.imagen p {
    background-color: rgba(0, 0, 0, 0.295);
    display: inline-block;
    padding-left: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

